In [1]:
import numpy as np
import pandas as pd

#### Question 1

In [149]:
np.__version__

'1.23.2'

#### Question 2

In [202]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')

In [203]:
n_records = df.shape[0]
print(n_records)

11914

#### Question 3

In [204]:
df.groupby('Make').Model.count().sort_values(ascending=False)[:3]

Make
Chevrolet     1123
Ford           881
Volkswagen     809
Name: Model, dtype: int64

#### Question 4

In [205]:
n_unique_Audi_models = df[df['Make'] == 'Audi']['Model'].nunique()
print(n_unique_Audi_models)

34

#### Question 5

In [206]:
n_missing_values_columns = sum(df.isnull().sum() > 0)
print(n_missing_values_columns)

5

#### Question 6

In [207]:
median_value = df['Engine Cylinders'].median()
print(median_value)

6.0

In [208]:
mode_value = df['Engine Cylinders'].mode().values[0]
df['Engine Cylinders'].fillna(mode_value, inplace=True)

In [209]:
new_median_value = df['Engine Cylinders'].median()
print(new_median_value)

6.0

#### Question 7

In [219]:
df[df['Make'] == 'Lotus'][['Engine HP', 'Engine Cylinders']].drop_duplicates()

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [220]:
X = df[df['Make'] == 'Lotus'][['Engine HP', 'Engine Cylinders']].drop_duplicates().values

In [221]:
print(X)

[[189.   4.]
 [218.   4.]
 [217.   4.]
 [350.   8.]
 [400.   6.]
 [276.   6.]
 [345.   6.]
 [257.   4.]
 [240.   4.]]

In [222]:
XTX = X.T@X

In [223]:
XTX = np.linalg.inv(XTX)

In [224]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [225]:
w = XTX @ X.T @ y

In [226]:
print(w[0])

4.594944810094551